---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Sidenav from "../components/Sidenav.astro";
import About from "../components/About.astro";
---

<Layout
  title="Th3CodeWizard portfolio"
  description="This is a software developer portfolio made with astro"
>
  <Sidenav />
  <main class="bg-gradient-to-t from-crust via-mantle to-base bg-no-repeat">
    <Header />
    <Hero />
    <About />
  </main>
</Layout>
